<%= simple_form_for(dock_worker,html:{class:"
form-horizontal"}) do |f| %>
  <% if dock_worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dock_worker.errors.count, "error") %> prohibited this dock_worker from being saved:</h2>

      <ul>
      <% dock_worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= f.input :last_name,placeholder:"Enter last name"%>
  <%= f.input :first_name,placeholder:"Enter first name"%>
  <%= f.input :address,placeholder:"Enter address" %>
  <%= f.input :state_id,collection: State.all, prompt:"Choose your state"%>
  <%= f.input :zipcode,placeholder:"Enter zipcode" %>
  <%= f.input :pay_rate,placeholder:"Enter payrate" %>
  <%= f.input :archived,as: :hidden,input_html:{value: "false"} %>
  <%= f.submit class:"btn btn-success"%>
<% end %>

 