<div class="container form_div"">
  <% if flash.any? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= notice %>
    </div>
  <% end %>
<div class="rows">
  <div class="col-md-12">
    <h2>Dock Workers</h2>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Last name</th>
          <th>First name</th>
          <th>Address</th>
          <th>State</th>
          <th>Zipcode</th>
          <th>Pay rate</th>
          <!--<th>Archived</th>-->
          <th colspan="4">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @dock_workers.each do |dock_worker| %>
          <tr>
            <td class="table-tr"><%= dock_worker.last_name %></td>
            <td class="table-tr"><%= dock_worker.first_name %></td>
            <td class="table-tr"><%= dock_worker.address %></td>
            <td class="table-tr"><%= dock_worker.state.try(:name)%></td>
            <td class="table-tr"><%= dock_worker.zipcode %></td>
            <td class="table-tr"><%= dock_worker.pay_rate %></td>
            <!--<td><%= dock_worker.archived %></td>-->
            <td><%= link_to 'Show', dock_worker,class:"btn btn-raised btn-success btn-sm table-btn" %></td>
            <td><%= link_to 'Edit', edit_dock_worker_path(dock_worker),class:"btn btn-raised btn-warning btn-sm table-btn" %></td>
            <td><%= link_to 'Salary Dues', dock_worker_payment_path(dock_worker),class:"btn btn-raised btn-primary btn-sm table-btn",remote: true %></td>
            <td><%= link_to 'Destroy', dock_worker,class:"btn btn-raised btn-danger btn-sm table-btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Dock Worker', new_dock_worker_path,class:"btn btn-raised btn-primary"  %>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <%= will_paginate %>
  </div>
  <div class="col-md-4"></div>
</div>
  
  <div class="rows">
    <div class="col-md-5 col-md-offset-1">
        <h3>Generate Report</h3>
        <%= simple_form_for(:report,{url: dock_worker_report_path,method: :get,remote:true}) do |f| %>
          <%= f.input :id,label:"Dock Worker",collection: DockWorker.all,label_method: :first_name,value_method: :id,prompt:"Select Dock Worker" %>
          <%= f.input :start_date,label:"Start Date",as: :date %>
          <%= f.input :end_date,label:"End Date",as: :date %>
          <%= f.submit "Get Report",class: "btn btn-raised btn-danger" %>
        <% end %>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <h3>Average worker payroll per appointment</h3>
        <%= simple_form_for(:report,{url:avg_payroll_path,method: :get,remote:true}) do |f| %>
          <%= f.input :start_date,label:"Start Date",as: :date %>
          <%= f.input :end_date,label:"End Date",as: :date %>
          <%= f.submit "Get Avg Payroll",class: "btn btn-raised btn-danger" %>
        <% end %>
    </div>
    <div id="dock_reports"> </div>
      <div id="dock_worker_report_end"></div>
    <div id="average_payroll"></div>
    <div id="average_payroll_end"></div>
  </div>
  <div id="dock_worker_payment"></div>
  <div id="dock_worker_payment_end"></div>

</div>