<br><br><br><br>
<footer class="navbar-fixed-bottom">
  <div class="container">
    <br>
    <div class="rows footer_component">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="">Policy</a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <%= link_to "#" do %>
          <%= image_tag "facebook" %> 
        <% end %>
        <%= link_to "#" do %>
          <%= image_tag "twitter" %> 
        <% end %>
        <%= link_to "#" do %>
          <%= image_tag "linkedin" %> 
        <% end %>
        <%= link_to "#" do %>
          <%= image_tag "google-plus" %> 
        <% end %>
        <%= link_to "#" do %>
          <%= image_tag "pinterest" %> 
        <% end %>
      </div>
      <div class="col-md-3">
         <a href="">DockAssistant Inc</a> &copy;2016
      </div>
    </div>
  </div>
</footer>