<div class="form_div container">
  <p id="notice"><%= notice %></p>

  <h1>Vendors</h1>

  <table class="table table-striped table-bordered table-hover ">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @vendors.each do |vendor| %>
        <tr>
          <td><%= vendor.name %></td>
          <td><%= link_to 'Show', vendor,class:"btn btn-success" %></td>
          <td><%= link_to 'Edit', edit_vendor_path(vendor),class:"btn btn-warning" %></td>
          <td><%= link_to 'Destroy', vendor,class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Vendor', new_vendor_path,class:"btn btn-primary" %>
</div>