<div id="availability_form">
  <h2>Check Availability</h2>
  <div id="alert">
    <p id="notice"><%= notice %></p>
  </div> 
  <div class="field">
     <%= simple_form_for(:check,{url: check_availability_path,method: :get,remote:true}) do |f| %>
      <%= f.input :dock_id,label:"Dock",collection: Dock.all,prompt:"Select dock" %>
      <%= f.input :date,label:"Date",as: :date %>
      <%= f.input :time,as: :time,label:"Time",:minute_step=>60 %>
      <%= f.submit "Check Availability" %>
    <% end %>
  </div>
  <a id="display_appointment_form" class="btn btn-primary">Next</a>
</div>

<div id="appointment_form" style="display:none">
  <h2>New Appointment</h2>
  <a id="display_availability_form" class="btn btn-primary">Back</a>
  <br><br>
  <%= simple_form_for(@appointment) do |f| %>
    <% if appointment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

        <ul>
        <% appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :name,placeholder:"Enter name for Appointment" %>
    <%= f.input :dock_id,collection: Dock.all,prompt: "Select Dock for appointment" %>
    <%= f.input :datetime,:ampm=> true,:minute_step => 60%>
    <%= f.input :vendor_id,collection: Vendor.all,prompt: "Select Vendor for appointment" %>
    <%= f.submit class:"btn btn-success" %>
  <% end %>
</div>
