<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Dock worker:</strong>
	  <%= @shipment.dock_worker_id %>
	</p>

	<p>
	  <strong>Appointment:</strong>
	  <%= @shipment.appointment_id %>
	</p>

	<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
	<%= link_to 'Back', shipments_path %>

</div>