<%= simple_form_for(dock) do |f| %>
  <% if dock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dock.errors.count, "error") %> prohibited this dock from being saved:</h2>

      <ul>
      <% dock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name,placeholder:"Enter Dock name" %>
  <%= f.submit class:"btn btn-success"  %>
<% end %>
