<br><br>
<div class="container">
	<div class="rows">
		<div class="col-md-8 col-md-offset-2">
			<h3>Reports</h3>
			<ul class="list-group">
				<li class="list-group-item list-group-item-success"><%= dock.name %></li>
				<li class="list-group-item list-group-item-info">Total days: <%= totaldays %></li>
				<li class="list-group-item list-group-item-danger">Total available hrs: <%= totaldays*24 %> hrs</li>
				<li class="list-group-item list-group-item-danger">Total appointment: <%= timeslots.count %> </li>
				<li class="list-group-item list-group-item-warning">Total hrs occupied: <%= timeslots.count %> hrs</li>
				<li class="list-group-item list-group-item-success">Occupancy Percentage: <%= (timeslots.count)*100/(totaldays*24) %> %</li>
			</ul>
		</div>
	</div>
</div>
