<div class="form_div container">
  <% if flash.any? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= notice %>
    </div>
  <% end %>
  <div class="rows">
    <div class="col-md-12">
      <h2>Docks</h2>

      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th >Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @docks.each do |dock| %>
            <tr>
              <td class="table-tr"><%= dock.name %></td>
              <td><%= link_to 'Show', dock,class:"btn btn-raised btn-success btn-sm table-btn" %></td>
              <td><%= link_to 'Edit', edit_dock_path(dock),class:"btn btn-raised btn-warning btn-sm table-btn" %></td>
              <td><%= link_to 'Destroy', dock,class:"btn btn-raised btn-danger btn-sm table-btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Dock', new_dock_path,class:"btn btn-raised btn-primary"  %>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <%= will_paginate %>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="rows">
    <div class="col-md-10 col-md-offset-1">
         <h3>Generate Report</h3>
        <%= simple_form_for(:report,{url: dock_report_path,method: :get,remote:true}) do |f| %>
          <%= f.input :id,label: "Dock",collection: Dock.all,label_method: :name,value_method: :id,prompt: "Select Dock for report"%>
          <%= f.input :start_date,label:"Start Date",as: :date %>
          <%= f.input :end_date,label:"End Date",as: :date %>
          <%= f.submit "Get Report",class:"btn btn-danger" %>
        <% end %>
    </div>
    <div id="dock_reports"></div>
    <div id="dock_report_end"></div>
  </div>
</div>