<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Docks</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @docks.each do |dock| %>
        <tr>
          <td><%= dock.name %></td>
          <td><%= link_to 'Show', dock %></td>
          <td><%= link_to 'Edit', edit_dock_path(dock) %></td>
          <td><%= link_to 'Destroy', dock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Dock', new_dock_path,class:"btn btn-primary"  %>

  <div class="rows">
    <div class="col-md-10 col-md-offset-1">
         <h3>Generate Report</h3>
        <%= simple_form_for(:report,{url: dock_report_path,method: :get,remote:true}) do |f| %>
          <%= f.input :id,label: "Dock",collection: Dock.all,label_method: :name,value_method: :id,prompt: "Select Dock for report"%>
          <%= f.input :start_date,label:"Date",as: :date %>
          <%= f.input :end_date,label:"Date",as: :date %>
          <%= f.submit "Get Report" %>
        <% end %>
    </div>
    <div id="dock_reports"></div>
    <div id="dock_report_end"></div>
  </div>
</div>