<div class="container form_div">
  <div class="rows">
    <div class="col-md-10 col-md-offset-1">
      <% if flash.any? %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= notice %>
        </div>
      <% end %>
      <h3>Dock Info</h3>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Name: <%= @dock.name %></li>
      </ul>
      <%= link_to 'Edit', edit_dock_path(@dock),class: "btn btn-success" %>
      <%= link_to 'Back', dock_workers_path,class: "btn btn-success"  %>
    </div>
  </div>
  <br><br>
  <div class="rows">
    <div class="col-md-10 col-md-offset-1">
        <h3>Generate Report</h3>
        <%= simple_form_for(:report,{url: dock_report_path,method: :get,remote:true}) do |f| %>
        <%= f.input :id,as: :hidden,input_html:{value: @dock.id}%>
	      <%= f.input :start_date,label:"Date",as: :date %>
	      <%= f.input :end_date,label:"Date",as: :date %>
	      <%= f.submit "Get Report",class:"btn btn-danger" %>
	    <% end %>
    </div>
     <div id="dock_reports"></div>
    <div id="dock_report_end"></div>
  </div>
</div>

